@keyframes text-rotate {
  from {
    transform: rotate(-5deg);
  }
  to {
    transform: rotate(5deg);
  }
}

.content > * {
  animation: text-rotate 1.5s infinite steps(2, jump-none);
}
.content > *:nth-child(even) {
  animation-direction: reverse;
}
