/* Use with 6K Labs Amuse OBS browser widget with macOS player theme */

body {
  background-color: rgba(0, 0, 0, 0);
  margin: 0px auto;
  overflow: hidden;
  filter: drop-shadow(0px 0px 1px #111d);
}

.bg-osx-top-bg {
  display: none;
}

.outline-osx-top-bg {
  outline-color: transparent;
  background-color: transparent;
}

#songinfo {
  padding: 0;
}

#songinfo > p.text-lg {
  font-size: 1.2rem;
}

#songinfo > p.text-sm {
  font-size: 0.9rem;
  font-weight: 600;
}

/* centered visual compensation caused by title line height*/
#songtime {
  padding: 0 0 4px 0;
}

[class*='drop-shadow-'] {
  --tw-drop-shadow: transparent;
}

/* remove startup popup */
body > div > div:nth-child(1) {
  display: none;
}

body > div > div:nth-child(2) > div > div > div > div {
  transform: scale(1.2439) !important;
}
