:root {
  --rd-inv-tl-path: 'M0,16 A16,16 0 0,1 16,0 L0,0 Z';
  --rd-inv-bl-path: 'M16,16 A16,16 0 0,1 0,0 L0,16 Z';
  --rd-inv-tr-path: 'M0,0 A16,16 0 0,1 16,16 L16,0 Z';
  --rd-inv-br-path: 'M16,0 A16,16 0 0,1 0,16 L16,16 Z';

  /* --bg-color: #aacdf4; */
  --bg-image: linear-gradient(225deg, #7cacdb 0%, #a4c7e6 100%);
}

body {
  background: black;
}

.bg {
  /* background-color: var(--bg-color); */
  background-image: var(--bg-image);
}

.bg-deco {
  /* width: 1980px; */
  width: 100%;
  height: 90px;
  background-repeat: repeat-x;
  position: absolute;
  background-position: 60px 0;
  /* left: -30px; */
}
.bg-deco.up {
  top: 0;
  background-image: url('../assets/bg-deco-up.svg');
  opacity: 0.85;
}
.bg-deco.down {
  bottom: 0;
  background-image: url('../assets/bg-deco-down.svg');
  opacity: 0.85;
}

@keyframes bg-deco {
  from {
    background-position: 90px 0;
  }
  to {
    background-position: 0 0;
  }
}
.bg-deco.anim {
  animation: bg-deco 3s infinite linear;
}
.bg-deco.down.anim {
  animation-direction: reverse;
}

.bg-slash {
  width: 100%;
  height: 100%;
  /* background-image: url('../assets/bg-slash.svg'); */
  background-image: url('../assets/bg-pattern.png');
  background-size: 10%;
  opacity: 0.7;
  background-repeat: repeat;
  /* background-position: 45px 45px; */
}

@keyframes bg-slash {
  from {
    background-position: 1000px 0;
  }
  to {
    background-position: 0 1000px;
  }
}
.bg-slash.anim {
  animation: bg-slash 30s infinite linear;
}

@keyframes text-rotate {
  from {
    transform: rotate(-5deg);
  }
  to {
    transform: rotate(5deg);
  }
}
.step-rotate-container > * {
  animation: text-rotate 1.5s infinite steps(2, jump-none);
}
.step-rotate-container > *:nth-child(even) {
  animation-direction: reverse;
}
