/* layer: preflights */
*,::before,::after{--un-rotate:0;--un-rotate-x:0;--un-rotate-y:0;--un-rotate-z:0;--un-scale-x:1;--un-scale-y:1;--un-scale-z:1;--un-skew-x:0;--un-skew-y:0;--un-translate-x:0;--un-translate-y:0;--un-translate-z:0;--un-pan-x: ;--un-pan-y: ;--un-pinch-zoom: ;--un-scroll-snap-strictness:proximity;--un-ordinal: ;--un-slashed-zero: ;--un-numeric-figure: ;--un-numeric-spacing: ;--un-numeric-fraction: ;--un-border-spacing-x:0;--un-border-spacing-y:0;--un-ring-offset-shadow:0 0 rgb(0 0 0 / 0);--un-ring-shadow:0 0 rgb(0 0 0 / 0);--un-shadow-inset: ;--un-shadow:0 0 rgb(0 0 0 / 0);--un-ring-inset: ;--un-ring-offset-width:0px;--un-ring-offset-color:#fff;--un-ring-width:0px;--un-ring-color:rgb(147 197 253 / 0.5);--un-blur: ;--un-brightness: ;--un-contrast: ;--un-drop-shadow: ;--un-grayscale: ;--un-hue-rotate: ;--un-invert: ;--un-saturate: ;--un-sepia: ;--un-backdrop-blur: ;--un-backdrop-brightness: ;--un-backdrop-contrast: ;--un-backdrop-grayscale: ;--un-backdrop-hue-rotate: ;--un-backdrop-invert: ;--un-backdrop-opacity: ;--un-backdrop-saturate: ;--un-backdrop-sepia: ;}::backdrop{--un-rotate:0;--un-rotate-x:0;--un-rotate-y:0;--un-rotate-z:0;--un-scale-x:1;--un-scale-y:1;--un-scale-z:1;--un-skew-x:0;--un-skew-y:0;--un-translate-x:0;--un-translate-y:0;--un-translate-z:0;--un-pan-x: ;--un-pan-y: ;--un-pinch-zoom: ;--un-scroll-snap-strictness:proximity;--un-ordinal: ;--un-slashed-zero: ;--un-numeric-figure: ;--un-numeric-spacing: ;--un-numeric-fraction: ;--un-border-spacing-x:0;--un-border-spacing-y:0;--un-ring-offset-shadow:0 0 rgb(0 0 0 / 0);--un-ring-shadow:0 0 rgb(0 0 0 / 0);--un-shadow-inset: ;--un-shadow:0 0 rgb(0 0 0 / 0);--un-ring-inset: ;--un-ring-offset-width:0px;--un-ring-offset-color:#fff;--un-ring-width:0px;--un-ring-color:rgb(147 197 253 / 0.5);--un-blur: ;--un-brightness: ;--un-contrast: ;--un-drop-shadow: ;--un-grayscale: ;--un-hue-rotate: ;--un-invert: ;--un-saturate: ;--un-sepia: ;--un-backdrop-blur: ;--un-backdrop-brightness: ;--un-backdrop-contrast: ;--un-backdrop-grayscale: ;--un-backdrop-hue-rotate: ;--un-backdrop-invert: ;--un-backdrop-opacity: ;--un-backdrop-saturate: ;--un-backdrop-sepia: ;}
/* layer: default */
.invisible{visibility:hidden;}
.absolute{position:absolute;}
.relative{position:relative;}
.-left-12px{left:-12px;}
.bottom-0{bottom:0;}
.left-0{left:0;}
.right-0{right:0;}
.top-0{top:0;}
.-z-2{z-index:-2;}
.mb-8px{margin-bottom:8px;}
.mt-8px{margin-top:8px;}
.box-border{box-sizing:border-box;}
.box-content,
[box-content=""]{box-sizing:content-box;}
.hidden{display:none;}
.\[\&\>\*\]\:w-max>*{width:max-content;}
.h-1080px{height:1080px;}
.h-12px{height:12px;}
.h-160px{height:160px;}
.h-345px{height:345px;}
.h-34px{height:34px;}
.h-810px{height:810px;}
.h-full{height:100%;}
.h-inherit{height:inherit;}
.w-10px{width:10px;}
.w-12px{width:12px;}
.w-1440px{width:1440px;}
.w-1920px{width:1920px;}
.w-fit{width:fit-content;}
.w-inherit{width:inherit;}
.\[\&\>\*\]\:flex>*,
.flex{display:flex;}
.flex-1{flex:1 1 0%;}
.flex-col{flex-direction:column;}
.transform{transform:translateX(var(--un-translate-x)) translateY(var(--un-translate-y)) translateZ(var(--un-translate-z)) rotate(var(--un-rotate)) rotateX(var(--un-rotate-x)) rotateY(var(--un-rotate-y)) rotateZ(var(--un-rotate-z)) skewX(var(--un-skew-x)) skewY(var(--un-skew-y)) scaleX(var(--un-scale-x)) scaleY(var(--un-scale-y)) scaleZ(var(--un-scale-z));}
.\!animate-duration-8000{animation-duration:8000ms !important;}
.items-center{align-items:center;}
.\[\&\>\*\]\:gap-4>*,
.gap-4{gap:1rem;}
.gap-6px{gap:6px;}
.gap-8px{gap:8px;}
.border-2px,
[border-2px=""]{border-width:2px;}
.border-light,
[border-light=""]{--un-border-opacity:1;border-color:rgb(246 246 246 / var(--un-border-opacity));}
.border-op-20,
[border-op-20=""]{--un-border-opacity:0.2;}
.rd-12px{border-radius:12px;}
.rd-full{border-radius:9999px;}
.rd-b-12px{border-bottom-left-radius:12px;border-bottom-right-radius:12px;}
.rd-t-0{border-top-left-radius:0;border-top-right-radius:0;}
.rd-t-12px{border-top-left-radius:12px;border-top-right-radius:12px;}
.rd-br-0{border-bottom-right-radius:0;}
.rd-tl-0{border-top-left-radius:0;}
.border-solid,
[border-solid=""]{border-style:solid;}
.bg-dark{--un-bg-opacity:1;background-color:rgb(34 34 34 / var(--un-bg-opacity)) /* #222222 */;}
.bg-orange-3{--un-bg-opacity:1;background-color:rgb(253 186 116 / var(--un-bg-opacity)) /* #fdba74 */;}
.bg-op-30{--un-bg-opacity:0.3;}
.bg-op-90{--un-bg-opacity:0.9;}
.p-12px{padding:12px;}
.px-12px{padding-left:12px;padding-right:12px;}
.pb-4px{padding-bottom:4px;}
.pt-0{padding-top:0;}
.pt-4px{padding-top:4px;}
.text-align-end{text-align:end;}
.text-24px{font-size:24px;}
.text-27px{font-size:27px;}
.text-36px{font-size:36px;}
.color-light{--un-text-opacity:1;color:rgb(246 246 246 / var(--un-text-opacity)) /* #f6f6f6 */;}
.color-op-50{--un-text-opacity:0.5;}
.color-op-90{--un-text-opacity:0.9;}
.font-bold{font-weight:700;}
.font-normal{font-weight:400;}
.file-tab::file-selector-button{-moz-tab-size:4;-o-tab-size:4;tab-size:4;}
.filter-brightness-65{--un-brightness:brightness(0.65);filter:var(--un-blur) var(--un-brightness) var(--un-contrast) var(--un-drop-shadow) var(--un-grayscale) var(--un-hue-rotate) var(--un-invert) var(--un-saturate) var(--un-sepia);}